.table_timers thead th {
    text-align: center
}
.table_timers tbody td {
    text-align: center;    
    word-wrap: break-word;
}
/*
.nav-tabs > li {
    font-weight: bold;
}
*/

.flex-container {
    display: flex;    
}

.flex-container > div {
    align-self: center;
    padding-left: 3px;
}

.flex-container > div:first-child {
    align-self: center;
    padding-left: 60px;
}


#timerboardImgScreenshot {
    max-height: 450px;
}
