/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
         line-height: 1.5;

}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #1a1919;
}

h1 {
    font-size: 22.5px !important;
    padding: inherit;
    padding-left: 0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.d-block {
    background-color: rgb(65, 147, 56) !important;
}
#d-block-inner {
margin-left:25px;

}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}



#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #52b947;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #52b947;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    background: #52b947;
}

#sidebarCollapse{
background-color : #26a0da !important;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#tabela{
width: 20% !important

}

#tabela1{
width: 20% !important
}

#tabela2{
width: 20% !important

}

#tabela3{
width: 20% !important
}

#tabela4{
width: 20% !important;
margin-left: 25px;
}

#tabela7{
width: 20% !important;
}


#tabela8{
width: 20% !important;
margin-left: 25px;
}

#tabela5{
width: 20% !important
}

#tabela6{
width: 100% !important;
table-layout: fixed;
margin-left: 25px;
border-collapse: collapse;
}

#tabela6 tbody{
  display:block;
  overflow-y: auto;
  height: 200px;
}

#tabela6 thead tr {
   display: block;
}


#tabela6 th, #tabela6 td {
  padding: 10px;
  text-align: left;
  width: 2000px !important;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
        background-color: #52b947 !important;

}

#sidebar ul li a:hover {
    color: #4d004d;
    background:#4d004d;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #52b947 !important;

}

#logo_pic {
    max-width: 100%;
    min-width: 90%;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
        background: #52b947;

    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.table td, .table th{
padding: 0.75rem;
    vertical-align: top;
    line-height: normal;
    white-space: nowrap;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}